.cards {
    max-width: 100%;
    margin: 0 0;
    display: grid;
    grid-gap: 2rem;
    padding: 20px 40px;
  
  }
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }